# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]
user=mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
# Symbolic-links are disabled by default, thus the option is commented out
#symbolic-links=0

# As of Version 8.4 and above the plugin is not enabled per default
# This needs to be removed in Version 9.0.0 because the plugin will be delete due to deprecation
# https://php.watch/articles/fix-php-mysql-84-mysql_native_password-not-loaded
mysql_native_password=ON

# include all files from the config directory
!includedir /etc/my.cnf.d
!includedir /etc/my.cnf.dogu.d
